<style type="text/css">

</style>



<br/><br/>
<%= form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :heading, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :heading, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :article, :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attach_file, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar %>
    </div>
    <%#= error_span(@article[:avatar_file_name]) %>
  </div>

  <% if user_signed_in? && current_user.role == "admin"%>
  <div class="control-group">
    <%= f.label :approve, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :approve , options_for_select(%w[ No Yes ]) %>
    </div>
  </div>
<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>
